<h1><%= @character.name %>#edit</h1>
	<%= form_for @character, url: {action: "update", id: @character.id} do |f| %>
	<%= f.label :name %><br/>
	<%= f.text_field :name %><br/>
	<%= f.label :upB %><br/>
	<%= f.text_field :upB %><br/>
	<%= f.label :forwardB %><br/>
	<%= f.text_field :forwardB %><br/>
	<%= f.label :neutralB %><br/>
	<%= f.text_field :neutralB %><br/>
	<%= f.label :downB %><br/>
	<%= f.text_field :downB %><br/>
	<%= f.submit "Update" %>
	<% end %>

<%= link_to 'Back', :action => nil %>