<h1>Characters#index</h1>
<table>
<% @characters.each do |character| %>
	<tr>
		<td><%= link_to character.name, :action => 'show', :id => character.id %></td>
		<td><%= link_to 'Edit', :action => 'edit', :id => character.id %></td>
		<td><%= link_to 'Destroy', character, method: :delete %></td>
	</tr>
<% end %>
</table>

<h2><%= link_to 'New', :action => 'new' %></h1>