<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
	<title></title>
</head>
<body>
<h1>Movimientos de <%= @character.name %></h1>
<table>
	<tr>
		<th>Arriba B</th>
		<th>Adelante B</th>
		<th>Neutro B</th>
		<th>Abajo B</th>
	</tr>
	<tr>
		<td><%= @character.upB %></td>
		<td><%= @character.forwardB %></td>
		<td><%= @character.neutralB %></td>
		<td><%= @character.downB %></td>
	</tr>
</table>
<%= link_to 'Back', :action => nil %>
</body>
</html>